<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="static/editar_candidato.js" ></script>

    <link rel="stylesheet" href="templates/css/editar_candidato.css">

    <script src = "static/editar_candidato.js"  ></script>
</head>
<body>

    


<div class="container">
  
   
    
    <form id="form_editar">
      
      <div class="group">      
        <input type="text" required ,name="nome", id="nome">
        <span class="highlight"></span>
        <span class="bar"></span>
        
        <label>Nome</label>
      </div>
        
      <div class="group">      
        <input type="text" required, id="whatsapp" name="whatsapp">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>whatsapp</label>
      </div>
      <div class="group">      
        <input type="text" required , id="endereco" name="endereco"> 
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>endereço</label>
      </div>
      <div class="group">      
        <input type="text" required id="email" name="email" >
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>email</label>
      </div>
      <button type = "submit"  > <a href="perfil_empreendedor.html">Confirmar</a> </button>
      
    </form>
        
 
  </div>
    
</body>
</html>





