<!DOCTYPE html>
<html lang="en">

  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <script src="https://kit.fontawesome.com/69a8851b97.js" crossorigin="anonymous"></script>
    <title>Opmart</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <script src="{{url_for('static', filename =  'listagem_vagas_destaque.js')}}" >
    </script>
    <script src="{{ url_for('static', filename = 'cadastro.js')}}" >
    </script>
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{url_for( 'static', filename = 'css/fontawesome.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/templatemo-eduwell-style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static' ,filename =  'css/owl.css')}}">
    <link rel="stylesheet" href="{{url_for('static' ,filename = 'css/lightbox.css')}}">

  </head>

<body>


  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="home-candidato" class="logo">
                          <img src="{{url_for('static' ,filename='images/templatemo-eduwell.png')}}" alt="EduWell Template">
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                        <li class="scroll-to-section"><a href="home-candidato" class="active">Home</a></li>
                        <li class="scroll-to-section"><a href="#courses">Sobre Nós</a></li>
                        <li class="scroll-to-section"><a href="perfil-candidato">Perfil</a></li>
                        <li class="scroll-to-section"><a href="#testimonials">Depoimentos</a></li>
                        <li class="has-sub">
                            <a href="javascript:void(0)">Vagas</a>
                            <ul class="sub-menu">
                                <li><a href="#services">Principais Vagas</a></li>
                                <li><a href="listagem-vagas">Feed de vagas</a></li>
                            </ul>
                        </li>
                       
                    </ul>         
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <section class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="header-text">
            <h6>Bem-vindo a Opmart</h6>
            <h2>Inovando o ecossistema <em>empregatício</em> das periferias!</h2>
            
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-image">
            <img src="{{url_for('static',filename='images/banner-right-image.png')}}">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <section class="services" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h6>Encontre a oportunidade ideal para você!</h6>
            <h4>Principais <em>vagas</em></h4>
          </div>
        </div>
     
      
        <div class="col-lg-12">
          <div class="owl-service-item owl-carousel">
         
            <div id="vagas_em_destaque">

                 
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{{url_for('static', filename='/images/service-icon-02.png')}}">
                </div>
                <h4>Cargo da vaga</h4>
                <p>Breve descrição.</p>
              </div>
            </div>

            </div>

          </div>
        </div>


        
      </div>
    </div>
  </section>

  <section class="our-courses" id="courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h6>Sobre Nós</h6>
            <h4>Nossa <em>História</em></h4>
            <p>Através de um projeto educacional, alunos de Ciência da Computação do Insper desenvolveram a OPMART com o intuito de inovar o ecossistema empregatício das periferias.</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="naccs">
            <div class="tabs">
              <div class="row">
                <div class="col-lg-3">
                  <div class="menu">
                    <div class="active gradient-border"><span>Problema</span></div>
                    <div class="gradient-border"><span>Alternativa</span></div>
                    <div class="gradient-border"><span>Solução</span></div>
                    <div class="gradient-border"><span>Nossa Missão</span></div>
                  </div>
                </div>
                <div class="col-lg-9">
                  <ul class="nacc">
                    <li class="active">
                      <div>
                        <div class="left-image">
                          <img src="{{url_for('static',filename='images/courses-01.png')}}">
              
                        </div>
                        <div class="right-content">
                          <h4>Problema</h4>
                          <p>Diante da pandemia do Coronavírus, desemprego bate recorde histórico e atinge mais de 14,8 milhões de brasileiros, principalmente, negros, mulheres e jovens. (IBGE & Pnad, 2021) 
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-image">
                          <img src="{{url_for('static',filename='images/courses-02.png')}}">
                        
                        </div>
                        <div class="right-content">
                          <h4>Alternativa</h4>
                          <p>Em contrapartida, a pandemia possibilitou a redescoberta do comércio de bairro, ocasionando um aumento no número de empreendedores e profissionais autônomos que buscavam novas alternativas de gerar renda. Com cerca de 150 mil habitantes, a favela de Paraisópolis, por exemplo, comporta mais de 12 mil comércios. Portanto, a OPMART enxergou que, através do empreendedorismo nas comunidades poderia desenvolver um projeto promissor que atenuaria os danos causados pelo desemprego, que afeta, especialmente, pessoas em situação de vulnerabilidade social.</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-image">
                          <img src="{{url_for('static',filename='images/courses-03.png')}}">
                        
                        </div>
                        <div class="right-content">
                          <h4>Solução</h4>
                          <p>Desse modo, a OPMART tem como missão inovar o ecossistema empregatício das periferias através de um aplicativo, onde serão disponibilizadas oportunidades de emprego em diversas modalidades (fixo, temporário e etc), as quais serão ofertadas por micro e pequenos empreendedores que possuem negócios e comércios, de segmentos diversificados, dentro das favelas.</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-image">
                          <img src="{{url_for('static',filename='images/courses-04.png')}}">
                        
                        </div>
                        <div class="right-content">
                          <h4>Nossa Missão</h4>
                          <p>Conectar micro e pequenos empreendedores com pessoas desempregadas, ambos de uma mesma região periférica. De modo a contribuir com a independência financeira da favela.</p>
                          <h4>Inovação & Tecnologia</h4>
                          <p>Inovando e otimizando os processos de seleção e recrutamento, por meio de nossa plataforma digital (Site e App), além de contribuir para a inclusão digital de pequenos negócios.</p>
                        </div>
                      </div>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="testimonials" id="testimonials">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h6>Depoimentos</h6>
            <h4>O que estão dizendo da <em>Opmart</em>?</h4>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-testimonials owl-carousel" style="position: relative; z-index: 5;">
            <div class="item">
              <p>“Através da OPMART consegui meu primeiro emprego na papelaria proxíma à minha casa.”</p>
                <h4>Catarina Ferraz</h4>
                <span>Jovem Aprendiz</span>
                <img src="{{url_for('static', filename = 'images/quote.png')}}">
            </div>
            <div class="item">
              <p>“Perdi meu emprego durante a pandemia e através da OPMART pude voltar ao mercado de trabalho.”</p>
                <h4>David Souza</h4>
                <span>Montador de móveis</span>
                <img src="{{url_for('static', filename = 'images/quote.png')}}">
            </div>
            <div class="item">
              <p>“A OPMART me ajudou a encontrar um serviço dentro da minha comunidade, o que me ajuda a poder passar mais tempo com meus filhos!”</p>
                <h4>Sandra Vieira</h4>
                <span>Operadora de caixa</span>
                <img src="{{url_for('static', filename = 'images/quote.png')}}">
            </div>
            <div class="item">
              <p>“Graças a OPMART consigo contratar entregadores para meu negócio de Delivery com muita facilidade.”</p>
                <h4>Sérgio Santos</h4>
                <span>Empreendedor</span>
                <img src="{{url_for('static', filename = 'images/quote.png')}}">
            </div>
            <div class="item">
              <p>“Geralmente no fim do ano minha barbearia recebe muitos clientes e, por não conseguir dar conta sozinho, consegui funcionários temporários de forma online.”</p>
                <h4>Jorge Silveira</h4>
                <span>Barbeiro</span>
                <img src="{{url_for('static', filename = 'images/quote.png')}}">
            </div>
            <div class="item">
              <p>“Por meio da OPMART consegui um emprego em uma gráfica ao lado da minha casa. Graças a isso consigo pagar meu curso técnico de enferemagem.”</p>
                <h4>Juliana Oliveira</h4>
                <span>Estudante</span>
                <img src="{{url_for('static', filename='images/quote.png')}}">
            </div>
            <div class="item">
              <p>“Aqui na plataforma consegui contratar o serviço de pedreiros, encanadores e eletricistas na reforma da minha doceria.”</p>
                <h4>Maria Cardoso</h4>
                <span>Confeiteira</span>
                <img src="{{url_for('static' ,filename='images/quote.png')}}">
            </div>
            <div class="item">
              <p>“Desde que sai do Ensino Médio passei mais de 1 ano procurando uma oportunidade, mas só aqui na OPMART consegui um trabalho na mercearia do meu bairro, mesmo sem experiência profissional.”</p>
                <h4>Gabriel Correia</h4>
                <span>Empacotador</span>
                <img src="{{url_for('static', filename='images/quote.png')}}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

    <script src="{{url_for('static', filename='js/isotope.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/owl-carousel.js')}}"></script>
    <script src="{{url_for('static',filename ='js/lightbox.js')}}"></script>
    <script src="{{url_for('static',filename='js/tabs.js')}}"></script>
    <script src="{{url_for('static',filename='js/video.js')}}"></script>
    <script src="{{url_for('static',filename='js/slick-slider.js')}}"></script>
    <script src="{{url_for('static',filename='js/custom.js')}}"></script>
    <script> 
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        // $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
        //   e.preventDefault();
        //   showSection($(this).attr('href'), true);
        // });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>

</html>