<!DOCTYPE html>
<html lang="en">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opmart | Login & Cadastro</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/login.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'js_candidato/cadastro_candidato.js')}}">
</head>
<body>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form id="form_editar">
			<h1>Criar Conta</h1>
			
			<span></span>
			<input type="text" name = "nome" id = "nome" placeholder="Nome" />
			<input type="tex" name = "whatsapp" id="whatsapp" placeholder="Telefone" />
			<input type="text" name = "email" id = "email" placeholder="Email" />
			<input type="text" name = "endereco" id = "endereco" placeholder="Endereço" />
			<input type="text" name = "descricao" id = "descricao" placeholder="Descrição" />
			<button type="submit" > <a style="color:#FFFFFF" >Login</a></button>
		</form>
	</div>

	<div class="form-container sign-in-container">
		<form action="home-candidato">
			<h1>Login</h1>
			
			<span></span>
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Senha" />
			<button type="submit"> Entrar </button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<img src="{{url_for('static', filename = 'images/templatemo-eduwell.png')}}" alt="EduWell Template">
				<p>Para se manter conectado conosco, faça login com suas informações pessoais!</p>
				<button class="ghost" id="signIn">Login</button>
			</div>
			<div class="overlay-panel overlay-right">
				<img src="{{url_for('static', filename = 'images/templatemo-eduwell.png')}}">
				<p>Está a procura de um emprego e ainda não possui uma conta na OPMART?</p>
				<button class="ghost" id="signUp">Cadastre-se</button>
			</div>
		</div>
	</div>
</div>


<script>
const signUpButton = document.getElementById('signUp');



setTimeout(signUpButton.addEventListener('click', () => {
	const container = document.getElementById('container');
	container.classList.add("right-panel-active")
	
}), 3000)


setTimeout(signInButton.addEventListener('click', () => {
	const signInButton = document.getElementById('signIn');
	container.classList.remove("right-panel-active")
	
}), 3000)

</script>
</body>
</html>

