<html lang="en">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aula 09 - Portfolio</title>
  <link rel="stylesheet" href="{{url_for('static', filename = 'css/perfil_candidato.css')}}">
  <script src="https://kit.fontawesome.com/d37c5443c6.js" crossorigin="anonymous"></script>
  <script src="{{url_for('static', filename = 'js_candidato/perfil_candidato.js')}}" ></script>

</head>

<body>
  

  <div class="container centered">
    <header class="perfil">
      <img src="https://avatars.githubusercontent.com/u/46529244?v=4" alt="">
      <div class="title">
        <h1 id="nome_candidato" ></h1>

       
        <!-- Icons -->
        <a title="Codepen" class="link-icon" target="_blank" href="https://codepen.io/golin">
          <i class="fab fa-codepen"></i>
        </a>

        <a title="GitHub" class="link-icon" target="_blank" href="https://github.com/lgolin">
          <i class="fab fa-github-square"></i>
        </a>

        <a title="Linkedin" class="link-icon" target="_blank" href="https://www.linkedin.com/in/laisgolin/">
          <i class="fab fa-linkedin"></i>
        </a>

        <a title="Twitter" class="link-icon" target="_blank" href="https://twitter.com/laisgolin">
          <i class="fab fa-twitter-square"></i>
        </a>
      </div>
    </header>

    <!-- estrutura do projeto -->
    <main class="projetos">
      <div class="container-projetos">

    
        <ol>
          <a href="vagas_candidato" > <h1>Minhas Vagas</h1></a>
          <a href="config_candidato" > <h1>Configurações</h1></a>
          <!-- <li><a href="https://codepen.io/golin/full/WNOXoQb" target="_blank"> 🔮 Mentalista</a></li>
          <li><a href="https://codepen.io/golin/full/BaZYjNZ" target="_blank"> 🎬 AluraFlix</a></li>
          <li><a href="https://codepen.io/golin/full/MWoGWrJ" target="_blank"> 🏆 Tabela de Classificação</a></li>
          <li><a href="https://codepen.io/golin/full/gORKEzQ" target="_blank"> 🃏 Super Trunfo</a></li>
          <li><a href="https://codepen.io/golin/full/xxrabdp" target="_blank"> 🆔 CertifiCard</a></li> -->
        </ol>
      </div>

    </main>
  </div>
  <!-- Script -->
  <script src="app.js"></script>
</body>

</html>