

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Nao apague -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Nao apague -->
        <script src="static/listagem_candidato.js" ></script> 

    <title>Document</title>
</head>
<body>
    <!-- nao apague -->
        <div class="principal">
            <div id="listagem_vagas">

            </div>
        </div>
    
</body>
</html>