<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Opmart</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/fontawesome.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/templatemo-eduwell-style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/owl.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/lightbox.css')}}">
    <script src="{{ url_for('static', filename = 'js_empreendedor/inscritos_na_vaga.js')}}"></script>
<!--
https://templatemo.com/tm-573-eduwell
-->
  </head>

<body>


  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                <nav class="main-nav">
                  <!-- ***** Logo Start ***** -->
                  <a href="home_candidato" class="logo">
                      <img src="{{url_for('static', filename='images/templatemo-eduwell.png')}}">
                  </a>
                  
                <ul class="nav">
                    <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                    <li class="scroll-to-section"><a href="#courses">Sobre Nós</a></li>
                    <li class="scroll-to-section"><a href="#testimonials">Depoimentos</a></li>
                    <li class="has-sub">
                        <a href="javascript:void(0)">Vagas</a>
                        <ul class="sub-menu">
                            <li><a href="#services">Principais Vagas</a></li>
                            <li><a href="listagem-vagas">Feed de vagas</a></li>
                        </ul>
                    </li>
                    <li class="scroll-to-section"><a href="">Login Usuário</a></li> 
                    <li class="scroll-to-section"><a href="">Login empreendedor</a></li> 
                </ul>          
                  <a class='menu-trigger'>
                      <span>Menu</span>
                  </a>
                  <!-- ***** Menu End ***** -->
                </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <section class="our-team">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h6>Uma ótima oportunidade bem próximo de você</h6>
            <h4>Saiba mais informações dessa <em>Vaga</em></h4>
          </div>
        </div>
        <div class="col-lg-10 offset-lg-1">
          <div class="naccs">
            <div class="tabs">
                <div class="col-lg-12">
                  <ul class="nacc">
                    <li class="active">
                      <div>
                        <div id="detalhe_da_vaga" class="left-content">
                          
                        </div>
                        <div class="right-image">
                          <img src="{{url_for('static', filename='images/team-member-01.png')}}" alt="">
                        </div>
                      </div>
                    </li>
                      <li>
                        </li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <section class="featured-product">
          <div class="container">
            </a><div  class="row" id="feed_vag" >
      
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    
  </section>
  
  

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='detalhe_vaga.js') }}"></script>
    <script src="{{ url_for('static', filename='js_candidato/detalhe_vaga_candidato.js') }}"></script>

    <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <script src="{{url_for('static', filename='js/isotope.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/owl-carousel.js')}}"></script>
    <script src="{{url_for('static', filename='js/lightbox.js')}}"></script>
    <script src="{{url_for('static', filename='js/tabs.js')}}"></script>
    <script src="{{url_for('static', filename='js/video.js')}}"></script>
    <script src="{{url_for('static', filename='js/slick-slider.js')}}"></script>
    <script src="{{url_for('static', filename='js/custom.js')}}"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        // $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
        //   e.preventDefault();
        //   showSection($(this).attr('href'), true);
        // });

        $(window).scroll(function () {
          checkSection();
        });
    </script>

    
    
</body>
</html>