<!DOCTYPE html>
<html lang="en">

  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://kit.fontawesome.com/69a8851b97.js" crossorigin="anonymous"></script>




    <title>home-empreendedor</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename = 'vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <script src="{{url_for('static', filename = 'css_empreendedor/cadastro_vaga.js')}}" >
    </script>

    <script src="{{url_for('static', filename = 'js_empreendedor/cadastro_vaga.js')}}" >
    </script>
     
  
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{url_for( 'static', filename = 'css/fontawesome.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/templatemo-eduwell-style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static' ,filename =  'css/owl.css')}}">
    <link rel="stylesheet" href="{{url_for('static' ,filename = 'css/lightbox.css')}}">
   

  </head>

<body>


  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="home-empreendedor" class="logo">
                        <img src="{{url_for('static' ,filename='images/templatemo-eduwell.png')}}" alt="EduWell Template">
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li  class="scroll-to-section"><a href="home-empreendedor">Home</a></li>
                          <li ><a href="perfil-empreendedor">Perfil</a></li>
                          <li ><a href="feed-vagas-empreendedor">Feed de Vagas </a></li>
                  
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <section class="main-banner" id="top">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="header-text">
            <h6 id="sucesso">Um novo modo de encontrar pessoas interessadas nos seus serviços</h6>
            <h2>Bem vindo novamente <em id = "nome_empreendedor_home"></em></h2>
            <div class="main-button-gradient">
              <div class="scroll-to-section"><a href="#contact-section">Cadastre uma vaga</a></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-image">
            <img src="{{url_for('static',filename='images/banner-right-image.png')}}">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <section class="services" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h6>Encontre a oportunidade ideal para você!</h6>
            <h4>Feed de <em>Vagas</em></h4>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-service-item owl-carousel">
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{{url_for('static', filename='/images/service-icon-01.png')}}">
                </div>
                <h4>Atendente de loja - Paraisópolis</h4>
                <p>Atendimento aos clientes via telefone e balcão, organização e limpeza geral da loja...</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{{url_for('static', filename='/images/service-icon-02.png')}}">
                </div>
                <h4>Operador(a) de caixa - Heliópolis</h4>
                <p>Realizar funções de caixa (experiência com abertura e fechamento de caixa e rotinas da área..</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{{url_for('static', filename='/images/service-icon-03.png')}}">
                </div>
                <h4>Auxiliar de limpeza - Grajaú</h4>
                <p>Terá como tarefa prestar os serviços de limpeza em geral aos ambientes de uma padaria.                  .</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{{url_for('static', filename='/images/service-icon-04.png')}}">
                </div>
                <h4>Costureira - Brasilândia</h4>
                <p>Costureira para reta e overloque com experiência e agilidade de produção.</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{{url_for('static', filename='/images/service-icon-01.png')}}">
                </div>
                <h4>Balconista | Doceria - Osasco</h4>
                <p>Atendimento clientes no balcão, reposição das vitrines, organização, entre outras funções pertinentes ao cargo.</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{{url_for('static', filename='/images/service-icon-02.png')}}">
                </div>
                <h4>Auxiliar De Cabeleireiro - Capão Redondo</h4>
                <p>Auxilia os cabeleireiros nos serviços de corte, tintura, alongamento, alisamento e procedimentos químicos.</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{{url_for('static', filename='/images/service-icon-03.png')}}">
                </div>
                <h4>Barbeiro iniciante - Parelheiros</h4>
                <p>Procuramos barbeiro iniciante que tenha o seguinte perfil: Idade: entre 18 e 30 anos; Nível: iniciante (é necessário possuir pelo menos o curso de...</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{{url_for('static', filename='/images/service-icon-04.png')}}">
                </div>
                <h4>Auxiliar de impressão - Vila Andrade</h4>
                <p>Retirar a matéria prima e secundária no setor de suprimentos e/ou laboratório de tintas.</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{{url_for('static', filename='/images/service-icon-01.png')}}">
                </div>
                <h4>Vendedor(a) - Paraisópolis</h4>
                <p>Responsável por realizar vendas, visando atingir as metas estabelecidas individuais em conformidade com as normas e procedimentos da empresa.</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{{url_for('static', filename='/images/service-icon-02.png')}}">
                </div>
                <h4>Passadeiro(a) - Grajaú</h4>
                <p>Passadeira com experiência em passadoria de roupas tais como camisas, ternos e roupas de cama.</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{{url_for('static', filename='/images/service-icon-03.png')}}">
                </div>
                <h4>Auxiliar de estoque - Heliópolis</h4>
                <p>Responsável pela organização e limpeza do estoque, conferência de material, auxiliar na carga e descarga.</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{{url_for('static', filename='/images/service-icon-04.png')}}">
                </div>
                <h4>Manicure/Pedicure - Brasilândia</h4>
                <p>Vaga para manicure e pedicure tradicional, com ou sem experiência. Fazer esmaltação em gel e/ou spa dos pés é um diferencial.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-courses" id="courses">
    
  </section>

 
  <section class="contact-us" id="contact-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div id="map">
          
           <div class="row">
              <div class="col-lg-4">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <form id="contact">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-heading">
                  <h2>Anuncie aqui</h2>
                </div>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="text" name="nome" id="nome" placeholder="Nome" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="text" name="descricao" id="descricao" placeholder="Descrição" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="text" name="valor" id="valor" placeholder="Valor" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="text" name="endereco" id="endereco" placeholder="Endereço" autocomplete="on" required>
                </fieldset>
              </div>
             
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit"  class="main-gradient-button">Anunciar</button>
                </fieldset>
              </div>
          
            </div>
          </form>
        
        </div>
       
        <div class="col-lg-12">
          <ul class="social-icons">
            <li><a href="https://www.instagram.com/op.mart/"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCVLYv14wsUcfZLtnwobn5eA"><i class="fa-brands fa-youtube"></i></a></li>
            <li><a href="https://twitter.com/opmartt"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://open.spotify.com/show/3SlKOQOrtK9KbFmhx9qhqx?si=_r-T9tyuT2CsCmxlppI-tw&dl_branch=1&nd=1"><i class="fa-brands fa-spotify"></i></a></li>
            <li><a href="https://www.tiktok.com/@op.mart"><i class="fa-brands fa-tiktok"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-12">
          <p class="copyright">Copyright © 2022 Opmart. 
          
        </div>
      </div>
    </div>
  </section>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
 
    <script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    
    <script src="{{url_for('static', filename='js/isotope.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/owl-carousel.js')}}"></script>
    <script src="{{url_for('static',filename ='js/lightbox.js')}}"></script>
    <script src="{{url_for('static',filename='js/tabs.js')}}"></script>
    <script src="{{url_for('static',filename='js/video.js')}}"></script>
    <script src="{{url_for('static',filename='js/slick-slider.js')}}"></script>
    <script src="{{url_for('static',filename='js/custom.js')}}"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>

</html>